<% include header %>

    <div class="row">

		<h2>Profile</h2>

        <!-- Profile -->
        <div class="col-sm-12">
            <div class="well">
				<strong>UUID</strong>:  <%=user.uuid %><br>
				<strong>Roles</strong>:  <%=user.roles %><br>
            </div>
        </div>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <div>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </div>
                    
                    <a href="/unlink/local" class="btn btn-default top10">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                        <strong>displayName</strong>: <%= user.facebook.displayName %><br>
                    </div>

                    <a href="/unlink/facebook" class="btn btn-primary top10">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.twitter.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </div>

                    <a href="/unlink/twitter" class="btn btn-info top10">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </div>

                    <a href="/unlink/google" class="btn btn-danger top10">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>


   <div class="row">

        <!-- GITHUB INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-info"><span class="fa fa-github"></span> Github</h3>

                <% if (user.github.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.github.id %><br>
                        <strong>token</strong>: <%= user.github.token %><br>
                        <strong>username</strong>: <%= user.github.username %><br>
                        <strong>displayName</strong>: <%= user.github.displayName %>
                    </div>

                    <a href="/unlink/github" class="btn btn-info top10">Unlink</a>
                <% } else { %>
                    <a href="/connect/github" class="btn btn-info">Connect Github</a>
                <% } %>

            </div>
        </div>

    </div>

<% include footer %>
