<h2><a href="/scenarios/<%=scenario.id %>"><%=scenario.title %></a></h2>
<p>Owner: <%=scenario.owner %></p>
<p style="white-space: pre;"><%=scenario.text %></p>

<% if(user && (user.hasRole(["admin"]) || scenario.hasOwner(user))) { %>
<button data-id="<%=scenario.id %>" class="scenarioEdit   btn btn-default">EDIT</button>
<% } %>

<% if(user && user.hasRole(["admin"])) { %>
<button data-id="<%=scenario.id %>" class="scenarioDelete btn btn-default btn-danger">DELETE</button>
<% } %>
