Results: <%=totalCount %>

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Search Scenarios</li>
</ol>

<div class="row">
	<% results.forEach(function(scenario){ %>
	<h2><a href="/scenarios/<%=scenario._id %>"><%=scenario.title %></a></h2>

		<div class="row">
			<div class="col-sm-12">
				<strong>Score: <%=scenario._relevance.toFixed(2) %></strong>
			</div>
			<div class="col-sm-12">
				<%=scenario.text %>
			</div>
		</div>

	<% }) %>
</div>
