Results: <%=totalCount %>

<% results.forEach(function(scenario){ %>
	<h2><a href="/scenarios/<%=scenario.id %>"><%=scenario.title %></a></h2>
	<p>Score: <%=scenario._relevance %></p>
	<p>Owner: <%=scenario.owner %></p>
	<p style="white-space: pre;"><%=scenario.text %></p>
<% }) %>


