<% include ../header %>

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Profile</li>
</ol>

    <div class="row">

        <!-- Profile -->
        <div class="col-sm-12">

			<div class="well">

				<div class="form-group">
					<label for="profile-name">Name</label>
					<input type="text" class="form-control" id="profile-name" placeholder="Name..." value="<%=(user.name || '') %>">
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<label for="scenario-gender">Gender</label>
					</div>
					<div class="col-sm-12">
						<input type="radio" name="gender" id="profile-gender-f" value="f" <% if(user.gender == "f") { %> checked<% } %>> Female<br>
						<input type="radio" name="gender" id="profile-gender-m" value="m" <% if(user.gender == "m") { %> checked<% } %>> Male
					</div>
				</div>

				<% if(req_user.hasRole(["admin"])) { %>
					<div class="form-group">
						<label for="profile-roles">Roles</label>
						<input type="text" class="form-control" id="profile-roles" placeholder="Roles..." value="<%=user.roles.join(" ") %>">
					</div>
				<% } %>

				<button id="profile-send" type="submit" class="btn btn-default">Save Profile</button>

				<script>

				    var handle = function() {
				        var o = {
				            name : $('#profile-name').val(),
				            gender : $('input[name=gender]:checked').val()
							<% if(req_user.hasRole(["admin"])) { %>
				            , roles : $('#profile-roles').val().trim().split(" ")
							<% } %>
				        }
				        $.ajax({
				            type : "PATCH",
				            url : "/users/<%=user.uuid %>",
				            data : JSON.stringify(o),
				            contentType : 'application/json',
				            success : function(o){
								alert("Success");
				            },
				            error: function(e){
				                console.log("error", e);
				            }
				        });
				    };
				    $('#profile-send').click(handle);
				</script>
		    </div>
		</div>

		<h2>Logins</h2>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <div>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </div>
                    <a href="/users/<%=user.uuid %>/unlink/local" class="btn btn-default top10">Unlink</a>
					<div class="form-group">
						<label for="profile-password">New Password</label>
						<input type="password" class="form-control" id="profile-password-new1" placeholder="New Password" value="">
						<input type="password" class="form-control top5" id="profile-password-new2" placeholder="Repeat new Password" value="">
						<button id="password-send" type="submit" class="btn btn-default top5">Change Password</button>
					</div>
                <% } else if(req_user.uuid == user.uuid) { %>
                    <a href="/auth/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

				<script>
				var handle = function() {
					if($('#profile-password-new1').val() != $('#profile-password-new2').val()) {
						alert("New Passwords are not the same");
						return;
					}

			        var o = {
						local : {
							password : $('#profile-password-new1').val()
						}
			        }
			        $.ajax({
			            type : "PATCH",
			            url : "/users/<%=user.uuid %>",
			            data : JSON.stringify(o),
			            contentType : 'application/json',
			            success : function(o){
							alert("Password change successful.");
			            },
			            error: function(e){
			                console.log("error", e);
			            }
			        });
			    };
			    $('#password-send').click(handle);
				</script>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                        <strong>displayName</strong>: <%= user.facebook.displayName %><br>
                    </div>

                    <a href="/users/<%=user.uuid %>/unlink/facebook" class="btn btn-primary top10">Unlink</a>
                <% } else if(req_user.uuid == user.uuid) { %>
                    <a href="/auth/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.twitter.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </div>
                    <a href="/users/<%=user.uuid %>/unlink/twitter" class="btn btn-info top10">Unlink</a>
                <% } else if(req_user.uuid == user.uuid) { %>
                    <a href="/auth/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </div>
                    <a href="/users/<%=user.uuid %>/unlink/google" class="btn btn-danger top10">Unlink</a>
                <% } else if(req_user.uuid == user.uuid) { %>
                    <a href="/auth/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>


   <div class="row">

        <!-- GITHUB INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; ">
                <h3 class="text-info"><span class="fa fa-github"></span> Github</h3>

                <% if (user.github.token) { %>
                    <div>
                        <strong>id</strong>: <%= user.github.id %><br>
                        <strong>token</strong>: <%= user.github.token %><br>
                        <strong>username</strong>: <%= user.github.username %><br>
                        <strong>displayName</strong>: <%= user.github.displayName %>
                    </div>

                    <a href="/users/<%=user.uuid %>/unlink/github" class="btn btn-info top10">Unlink</a>
                <% } else if(req_user.uuid == user.uuid) { %>
                    <a href="/auth/connect/github" class="btn btn-info">Connect Github</a>
                <% } %>

            </div>
        </div>

    </div>

<% include ../footer %>
