<h2><a href="/users/<%=user.profile.uuid %>">User <%=user.profile.uuid %></a></h2>

<h3>Local</h3>
<p>UUID: <%=user.profile.uuid %></p>
<% if(user.local.email) { %>
<p><%=user.local.email %></p>
<% } %> 

<h3>Social Networks</h3>
<p>

    <% if(user.facebook.id) { %>
    <a target="_blank" href="https://facebook.com/<%=user.facebook.id %>"><span class="fa fa-lg fa-fw fa-facebook fa-border"></span></a>
    <% } %> 

    <% if(user.google.id) { %>
    <a target="_blank" class="text-danger" href="https://plus.google.com/<%=user.google.id %>"><span class="fa fa-lg fa-fw fa-google-plus fa-border"></span></a>
    <% } %> 

    <% if(user.twitter.id) { %>
    <a target="_blank" class="text-info" href="https://twitter.com/<%=user.twitter.username %>"><span class="fa fa-lg fa-fw fa-twitter fa-border"></span></a>
    <% } %> 

    <% if(user.github.id) { %>
    <a target="_blank" style="color:black;" href="http://www.github.com/<%=user.github.username %>"><span class="fa fa-lg fa-fw fa-github fa-border"></span></a>
    <% } %> 

</p>
