<% include ../header %>

    <div class="row">

		<h2><a href="/users/<%=user.uuid %>">User <%=user.uuid %></a></h2>

		<% if(req_user && req_user.hasRole(["admin"])) { %>
			<button data-id="<%=user.uuid %>" class="userEdit   btn btn-default">EDIT</button>
			<button data-id="<%=user.uuid %>" class="userDelete btn btn-default btn-danger">DELETE</button>
		<% } %>

		<h3>Local</h3>
		<p>
			<ul>
				<li>UUID: <%=user.uuid %></li>
				<% if(user.name) { %><li>Name: <%=user.name %></li><% } %> 
				<% if(user.gender) { %><li>E-Mail: <%=user.gender %></li><% } %> 
				<% if(req_user && req_user.hasRole(["admin"])) { %>
					<li>Roles: <%= user.roles %></li>
				<% } %> 
			</ul>
		</p>

		<h3>Social Networks</h3>
		<p>

			<% if(user.facebook.id) { %>
			<a target="_blank" href="https://facebook.com/<%=user.facebook.id %>"><span class="fa fa-lg fa-fw fa-facebook fa-border"></span></a>
			<% } %> 

			<% if(user.google.id) { %>
			<a target="_blank" class="text-danger" href="https://plus.google.com/<%=user.google.id %>"><span class="fa fa-lg fa-fw fa-google-plus fa-border"></span></a>
			<% } %> 

			<% if(user.twitter.id) { %>
			<a target="_blank" class="text-info" href="https://twitter.com/<%=user.twitter.username %>"><span class="fa fa-lg fa-fw fa-twitter fa-border"></span></a>
			<% } %> 

			<% if(user.github.id) { %>
			<a target="_blank" style="color:black;" href="http://www.github.com/<%=user.github.username %>"><span class="fa fa-lg fa-fw fa-github fa-border"></span></a>
			<% } %> 

		</p>

		<h3>Scenarios</h3>

		<ul>
		<% if(scenarios) {
			scenarios.forEach(function(scenario){ %>
				<li><a href="/scenarios/<%=scenario.id %>"><%=scenario.title %></a></li>
		<% })} %>
		</ul>

    </div>

<% include ../footer %>
